@keyframes show {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}

@keyframes hide {
	from {
		display: block;
		opacity: 1;
	}
	to {
		display: none;
		opacity: 0;
	}
}

.container {
	padding-top: 40px;
}

.title {
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 20px;
}

.content {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	padding: 20px 30px 30px 30px;
}

.top {
	padding-bottom: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq-content {
	opacity: 0;
	display: none;
	animation: hide 200ms cubic-bezier(0.1, 0.7, 1.0, 0.1);
	position: absolute;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	bottom: 43px;
	right: 7px;
	width: 630px;
	padding: 30px 40px;
}

.faq {
	margin-top: -20px;
	margin-left: 11px;
	position: relative;

	& .faq-span {
		font-family: FontAwesome;
		font-size: 20px;
		font-weight: 400;
		cursor: pointer;
	}

	&.show-content .faq-content {
		animation: show 200ms cubic-bezier(0.1, 0.7, 1.0, 0.1);
		opacity: 1;
		display: block;
	}
}

.credit-card-number {
	padding-right: 20px;
	flex-grow: 1;
	position: relative;
	width: 70%;
}

.security-code {
}

/*.second-form-wrapper {
}

.expiration-wrapper {
	align-items: center;
	display: flex;
}*/
.second-form-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.cards {
	& img {
		padding-left: 2px;
		filter: grayscale(1);
		opacity: .6;
		translate: all 150ms ease-in-out 0s;
		&.active {
			filter: none;
			opacity: 1;
		}
	}
}

.lock {
	position: absolute;
	top: 15px;
	right: 40px;
	color: #ddd;
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: 400;
	cursor: default;
}

.numberInput {
	& input {
		padding-right: 50px !important;
	}
}

.safe {
	color: #299501;

	& img {
		vertical-align: middle;
		margin-right: 11px;
	}

	& span {
		opacity: 0.6;
		font-weight: 600;
		line-height: 20px;
	}
}

.expMonth,
.expYear,
.expText {
	width: 140px;
	margin-right: 20px;
}

.expText {
	color: #9b9b9b;
	font-size: 18px;
}

.security-code-wrapper {
	display: flex;
	align-items: center;
	width: 30%;
}


@media (max-width: 1320px) and (min-width: 1041px),
		(max-width: 610px) {
	.top {
		display: block;
		text-align: left;
	}
	.safe {
		width: 100%;
		margin-bottom: 15px;
	}
	.cards {
		width: 100%;
	}
	.credit-card-number {
		width: 100%;
		padding-right: 0;
	}
	.lock {
		right: 20px;
	}
	.security-code-wrapper {
		margin-top: 20px;
		order: 5;
		width: 70%;
	}
}

@media (max-width: 1040px) {
	.container {
		padding-top: 45px;
	}
}

@media (max-width: 610px) {
	.expText {
		display: none;
	}
	.expMonth, .expYear {
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}
	.expMonth {
		padding-right: 10px;
	}
	.expYear {
		padding-left: 10px;
	}

	.exp-error {
		bottom: -20px !important;
		right: 0;
		left: initial !important;
	}

	.exp-error-left {
		bottom: -20px !important;
		left: 0;
		right: initial !important;
	}
	/*.credit-card-number {
		flex-grow: 1;
	}*/
}

@media (max-width: 359px) {
	.content {
		padding: 15px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.safe {
		font-size: 12px;
	}
	.lock {
		opacity: 1;
		color: #666;
	}
}

@media (max-width: 730px) {
	.faq-content {
		position: fixed;
		bottom: 0;
		right: 0;
		max-width: 100%;
		z-index: 9000;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}
	:global(html.faq-content) {
		overflow: hidden;
	}
}