.container {
	padding: 40px 30px;
}

.preview-wrapper {
	width: 100%;
	text-align: center;
}

.info {
	border-top: #e6e6e6 1px solid;
	border-bottom: #e6e6e6 1px solid;
	margin: 45px 0 13px;
	padding: 13px 0;
}

.info-line {
	display: flex;
	justify-content: space-between;
	padding: 7px 0;
}

.total {
	color: #151515;
	font-family: "Gotham Medium";
	font-size: 16px;
	font-weight: 400;
}

.tick-container {
	display: inline-block;
	margin-left: 15px;
	border: 1px solid #979797;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	width: 16px;
	height: 16px;
	vertical-align: sub;
	cursor: pointer;
}

.tick {
	margin-left: 1px;
	margin-top: -1px;
}

.have-a-coupon {
	font-size: 16px;
	padding-top: 24px;
	padding-bottom: 4px;
	& a {
		color: #ff408e;
		position: relative;
		& .dashed {
			position: absolute;
			width: 100%;
			bottom: 2px;
			left: 0;
			border-top: #979797 1px dashed; 
		}
	}
}

.info-wrapper {
	width: 100%;
}

@media (max-width: 1040px) {
	.container {
		display: flex;
		justify-content: flex-start;
		padding-top: 30px;
	}
	.info {
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.preview-wrapper {
		width: 40%;
		margin-top: 25px;
		& img {
			height: 216px;
		}
	}
	.info-wrapper {
		width: 60%;
	}
}

@media (max-width: 610px) {
	.container {
		padding: 10px 15px 5px;
		display: block;
	}
	.preview-wrapper,
	.info-wrapper {
		width: 100%;
	}
	.preview-wrapper {
		margin-top: 0;
		margin-bottom: 45px;
		& img {
			height: 137px;
		}
	}
	.have-a-coupon {
		opacity: 0.6;
		& a {
			color: black;
		}
	}
}
