.container {
	padding-top: 40px;
	&.onlySmallScreen {
		display: none;
	}
}

.title {
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 20px;
}

.wrapper {
	display: inline-block;
	text-align: center;

	&.left {
		margin-right: 47px;
		margin-left: 10px;
	}

	&.right {
		margin-left: 47px;
		margin-right: 10px;
	}

	& h4 {
		font-size: 24px;
		font-weight: 400;
	}
}

.img-wrapper {
	position: relative;
	width: 60px;
	text-align: center;
	margin: auto;
	cursor: pointer;

	& img {
		margin: auto;
	}
}

.tick-container {
	width: 22px;
	height: 22px;
	background-color: white;
	border: 1px solid #979797;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -7px;
	right: -7px;
}

.tick {
	margin-right: 1px;
}

@media (max-width: 1040px) {
	.container {
		padding-top: 35px;
	}
	.container.onlySmallScreen {
		display: block;
	}
}

@media (max-width: 359px) {
	.wrapper.left {
		margin-left: 0;
	}
	.wrapper.right {
		margin-left: 0;
		margin-right: 0;
	}
}
