.container {
	padding-top: 20px;
}

.formName {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 20px;
	&:first-letter{
		text-transform: capitalize;
	}
}

.group, .country {
	width: 100%;
}

.field {
	display: inline-block;
}

.firstName {
	padding-right: 10px;
}

.lastName {
	padding-left: 10px;
}

.street {
	width: 64.35%;
	margin-right: 20px;
	height: 50px !important;
}

.apt {
	width: 33.34%;
}

.col-1of3 {
	width: 33.334%;
	&:not(:nth-child(3)) {
		padding-right: 20px;
	}
}

.zip-container {
	position: relative;

	& .zip-tick {
		position: absolute;
		top: 18px;
		right: 40px;
		opacity: 0;
		transition: 150ms all ease-in-out 0s;
		&.valid {
			opacity: 1;
		}
	}
}
.zip {}

.firstName, .lastName {
	width: 50%;
	display: inline-block;
}

.phone-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
.phone,
.phone-text {
	flex-grow: 1;
}
.phone-text {
	text-align: center;
}
