.container {
	padding: 18px 120px;
}

header {
	width: 100%;
	padding-bottom: 45px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.left-column-top {
	border: 1px solid #e6e6e6;
}

.left-column-bottom {
	padding-top: 38px;
}

.left-column-bottom-small {
	width: 100%;
	display: none;
	padding-top: 38px;
}

.title-wrapper-small {
	display: none;
}

.title-wrapper {
	display: block;
}

.left-column {
	width: 400px;
	margin-right: 40px;
}

.right-column {
	padding:  0 30px;
	flex-grow: 1;
}

.bottom-text {
	padding-top: 23px;
}

.title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1;
	margin-top: -6px;
	margin-bottom: 12px;
}

.subtitle {
	color: $roseColor;
	font-size: 16px;
	font-weight: 400;
}

.buttons-container {
	text-align: right;
	padding-top: 30px;
}

.back-link {
	opacity: 0.4;
	font-size: 18px;
	text-decoration: underline;
	margin-right: 40px;
}

.button {
	@add-mixin buttonReset;
	background: $buttonColor;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	padding: 17px 30px 17px 58px;
	line-height: 0.9;
	cursor: pointer;
}

.arrow {
	margin-left: 54px;
	vertical-align: bottom;
}

.tick-container {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: $roseColor;
	border: 1px solid $buttonColor;
	cursor: pointer;
	vertical-align: text-top;
}
.billing-address-toggle-container {
	padding-top: 20px;
}

.tick {
	margin-top: 1px;
	margin-left: -1px;
}

.use-this-address {
	opacity: 0.6;
	line-height: 20px;
	margin-left: 8px;
}

.title-xs {
	display: none;
}

@media (max-width: 1150px) {
	.container {
		padding: 18px 20px;
	}
}

@media (max-width: 1040px) {
	.title-wrapper-small {
		display: block;
		padding-bottom: 40px;
	}

	.title-wrapper {
		display: none;
	}
	.content {
		flex-wrap: wrap;
	}
	.container {
		padding: 18px 40px;
	}
	header {
		text-align: center;
	}
	.left-column-bottom {
		display: none;
	}
	.right-column {
		padding:  0;
		width: 100%;
		text-align: center;
	}
	.left-column {
		width: 100%;
		margin-right: 0;
	}
	.left-column-bottom-small {
		display: block;
		& img {
			float: left;
			margin-right: 20px;
		}
	}
}

@media (max-width: 610px) {
	.title {
		display: none;
	}
	.title-xs {
		font-size: 22px;
		display: block;
	}
	.container {
		padding: 18px 15px;
	}
	header {
		padding-bottom: 30px;
	}
	.left-column-top {
		border: none;
	}
	.billing-address-toggle-container {
		width: 100%;
		text-align: left;
	}
	.left-column-bottom-small {
		display: flex;
		flex-direction: column-reverse;
		& img {
			float: none;
			max-width: 100%;
		}
	}
}

@media (max-width: 359px) {
	.back-link {
		display: none;
	}
	.button {
		width: 100%;
	}
}
